span.term {
	font-weight: bold;
}

.property {
	font-family: Courier, Courier New, monospace; 
}

/* table */

.table-contents table {
	background: #F0F0F0;
	border-spacing: 0px;
}

.table-contents th {
	background: #E0E0E0;
	padding: .5em;
}

.table-contents td {
	padding: .5em;
}

/* informaltable */

.informaltable table {
	background: #F0F0F0;
	border-spacing: 0px;
}

.informaltable th {
	background: #E0E0E0;
	padding: .5em;
}

.informaltable td {
	padding: .5em;
}

/* note */

div.note {
	background: #FCFCFF;
	border-radius: 1em; 
	padding-left: 1em;
	padding-top: 1em;
	padding-bottom: 0px;
	margin: 1em;
	border: 1px solid #AAAACC;
}

div.note tr:first-child > td:first-child {
	padding-right: 1em;
}

/* warning */

div.warning {
	background: #FFFFF0;
	border-radius: 1em; 
	padding-left: 1em;
	padding-top: 1em;
	padding-bottom: 0px;
	margin: 1em;
	border: 1px solid #DDDDAA;
}

div.warning tr:first-child > td:first-child {
	padding-right: 1em;
}